.notifications {
    width: 450px;

    margin: auto;
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
}

.notifications_menu-visible {
    transform: translateX(240px);
    transition: all 400ms ease-out;
}

.notifications_menu-hidden {
    transform: translateX(0px);
    transition: all 400ms ease-out;
}

.notifications__wrapper {
    border-radius: 5px;
}

.header {
    padding: 30px;

    position: relative;

    display: flex;

    background-color: $light-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notifications__menu-button {
    padding: 0;
    margin: 0;
    margin-right: 85px;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.menu-button__icon {
    color: $menu_icon;
}

.notifications__menu-button:hover .menu-button__icon {
    color: $white;
}

.header__title {
    padding: 0;
    margin: 0;
    margin-right: auto;

    display: inline-block;

    font-size: 22px;
    color: $white;
}

.header__searchbar {
    padding: 15px 30px;
    box-sizing: border-box;
    width: 350px;

    position: absolute;
    top: 19px;
    left: 50px;

    border: none;
    border-radius: 100px;

    visibility: hidden;
    opacity: 0;
}

.header__searchbar_visible {
    visibility: visible;
    opacity: 1;

    transform: translateX(-25px);
    transition: all 300ms ease-out;
}

.notifications__search-button {
    width: 17px;
    height: 21px;

    background-color: transparent;
    border: 1px solid $menu_icon;

    cursor: pointer;

    &:hover {
        border-color: $white;
    }

}

.notifications__list {
    padding: 30px;
    padding-bottom: 0;
    margin: 0;

    overflow: hidden;

    list-style-type: none;

    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notifications__item {
    padding-left: 30px;
    margin-bottom: 45px;

    position: relative;

    &:before {
        content: '';
        position: absolute;

        width: 17px;
        height: 17px;
        box-sizing: border-box;

        left: 0px;

        border: 3px solid  $light-blue;
        background-color: transparent;
        border-radius: 10px;
    }

    &:after {
        content: '';
        position: absolute;
        z-index: 2;

        width: 5px;
        height: 90px;
        box-sizing: border-box;

        left: 6px;
        top: 23px;

        border: none;
        background-color: $light-gray;
    }

}

.notifications__item:hover .notifications__text {
    color: $light-blue;
}

.notifications__link {
    color: $messages_text;
    text-decoration: none;
}

.notifications__text {
    margin: 0;
    padding: 0;
}

.notifications__text-date,
.notifications__text-message {
    display: block;
}

.notifications__text-date {
    margin-bottom: 7px;

    font-size: 16px;
}

.notifications__text-message {
    font-size: 22px;
}