.notifications {
    width: 450px;
}

.notifications__wrapper {
    border-radius: 5px;
}

.header {
    padding: 30px;

    position: relative;

    display: flex;
    justify-content: space-between;

    background-color: $light-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header__title {
    padding: 0;
    margin: 0;

    display: inline-block;

    font-size: 22px;
    color: $white;
}

.header__searchbar {
    padding: 15px 30px;
    box-sizing: border-box;
    width: 350px;

    position: absolute;
    top: 19px;

    border: none;
    border-radius: 100px;
}

.notifications__list {
    padding: 0 30px;
    margin: 0;

    list-style-type: none;

    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notifications__item {
    padding-left: 30px;
    margin-bottom: 40px;

    &_first {
        padding-top: 30px;
    }

    &_last {
        padding-bottom: 30px;
    }

}

.notifications__link {
    color: $messages_text;
    text-decoration: none;
}

.notifications__text {
    margin: 0;
    padding: 0;
}

.notifications__text-date,
.notifications__text-message {
    display: block;
}

.notifications__text-date {
    margin-bottom: 5px;

    font-size: 18px;
}

.notifications__text-message {
    font-size: 22px;
}